<%= content_for :head do %>
	<title>Patrons: About Us</title>
<% end %>



<!-- HEADER DIVIDER -->
<div id="head-break">

	<h1>About Us</h1>
    
</div><!-- END HEADER DIVIDER -->


<!-- START MAIN CONTAINER -->
<div class="container">
    
	<div id="blog-left" class="equal">
		<h3>In A Nutshell</h3>
		<p>Patrons was started by me, <a href="http://www.linkedin.com/in/justinthiele" target="_blank">Justin Thiele</a>. I previously started a music service called <a href="http://mugasha.com">Mugasha</a>. Now I'm trying to help fans support the artists they love.</p>
		
		<h3>The Rest Of The Story (it's worth it)</h3>
		<p>I've been a huge fan music my entire life (dabbled in creating, but mostly just appreciating). For about a decade beginning at the end of high school (about 1998 to 2008) I was buying tons of music and seeing at least a couple of shows a month.</p>

		<p>In college I interned at an indie record label called <a href="http://saddle-creek.com" target="_blank">Saddle Creek</a> right as they were starting to get big (2003-ish). It was <strong>absolutely inspiring</strong> to see artists turning the corner and making their passion a sustainable career.</p>

		<p>But somehow I started getting lazy. I stopped seeing so many shows. And 2008 was a crazy time for music on the internet. Tons of services were launching and/or gaining traction (LastFM, Grooveshark, Hype Machine, thesixtyone, MOG, Spotify, Pandora, etc). I even co-founded one, <a href="http://mugasha.com" target="_blank">Mugasha</a>. Fans love these sites and they generally do a good job helping artists reach more people and grow their fan bases.</p> 

		<p>Unfortunately, a larger fan base doesn't necessarily convert into an artist being able to pay their rent and bills. The amount of money that I spent on music every month suddenly went from <strong>$LOTS</strong> to like $10/month. Great for my personal finances, not great for artists. Despite the headlines, social media hasn't made being an indie artist much easier.</p>
			
		<p><strong>Many of your favorite artists are probably working a day job right now.</strong></p>

		<p>The thing is, I still love artists just as much as ever and <strong>I want to support them</strong>. How do you do that without a huge chunk of your money going to middlemen: Apple, promoters, distributors, etc? (not to say these people are bad, but I'd rather my money go to the artists)</p>

		<p>So, that's where the idea for Patrons came from. An easy way for fans like us to directly support the artists we love. Plain and simple.</p>

		<p>It's not a new concept. Take a look at the Wikipedia article about <a href="http://en.wikipedia.org/wiki/Patronage" target="_blank">patronage</a>. There's a long history of a select few helping to support artists for the greater good.</p> 
		<p><strong>Individually, we may only be contributing a small amount each month, but collectively, we can have a significant impact on the livelihoods of the artists we love.<strong></p>
    </div>


	<div id="blog-right" class="equal">
		<img src="images/justin-thiele.jpg" alt="Justin Thiele" width="294px" class="feature-images"/>
		<p>&nbsp;</p>
		<!-- start widget -->
    	<div class="sidebar-widget">
            <span>Our Team</span>
        	<ul>
            	<li>(announcing soon)</li>
            </ul>
        </div>
		<!-- end widget -->
		
		<!-- start widget -->
    	<div class="sidebar-widget">
            <span>Advisory Board</span>
        	<ul>
            	<li>(announcing soon)</li>
            </ul>
        </div>
		<!-- end widget -->
		
		
	</div>
    <br class="clear" />

</div><!-- END MAIN CONTAINER -->