<%= content_for :head do %>
	<title>Patrons: Contact Us</title>
<% end %>


<!-- HEADER DIVIDER -->
<div id="head-break">

	<h1>Contact Us</h1>
    
</div><!-- END HEADER DIVIDER -->


<!-- START MAIN CONTAINER -->
<div class="container">
    
	<div class="grid onehalf">
    
      <p class="social email contact-item"><span><a href="mailto:hello@patrons.us">hello@patrons.us</a></span>Email:</p>

      <p class="social facebook contact-item"><span><a href="https://www.facebook.com/patrons.us">facebook.com/patrons.us</a></span>Facebook:</p>

      <p class="social twitter contact-item"><span><a href="http://twitter.com/patrons_us">@patrons_us</a></span>Twitter:</p>

	</div>
    
    <div class="grid onehalf last">
        
      <p class="social email contact-item"><span>208 SW First Ave, Portland, OR 97204</span>Snail Mail:<br class="clear" /></p>
        
      <p class="social phone contact-item"><span>(408) 471-7876</span>Phone:</p>
        
      <p class="social clock contact-item"><span>Mon - Fri 9AM to 5PM (Pacific)</span>Hours:</p>
        
    </div>
		
		<iframe width="960" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=208+Southwest+1st+Avenue,+Portland,+OR&amp;aq=&amp;sll=45.520761,-122.671634&amp;sspn=0.008119,0.019205&amp;ie=UTF8&amp;hq=&amp;hnear=208+SW+1st+Ave,+Portland,+Oregon+97204&amp;t=h&amp;ll=45.524149,-122.671452&amp;spn=0.010523,0.041199&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>

    
    <br class="clear" /><div style="height:40px; width:100%;"></div>
    
</div><!-- END MAIN CONTAINER -->