<%= content_for :head do %>
	<title>Patrons: Frequenty Asked Questions</title>
<% end %>

<!-- HEADER DIVIDER -->
<div id="head-break">

	<h1>Frequently Asked Questions</h1>
    
</div><!-- END HEADER DIVIDER -->


<!-- START MAIN CONTAINER -->
<div class="container">
	
	<h3>Who is Patrons for?</h3>
	<p>Anybody who has a supportive fan base: musicians, writers, comedians, filmmakers, podcasters, game developers, comic artists, bloggers, fine artists, open source developers, etc. In other words...you :)</p>

	<h3 style="margin-top:30px;">Is there a live demo that I can see?</h3>
	<p>Yep, check out our demo here: <a href="http://on.fb.me/patrons-demo">Patrons Demo</a></p>
	
	<h3 style="margin-top:30px;">What are the costs for Patrons?</h3>
	<p><strong>There are no upfront fees to use Patrons.</strong> The way Patrons works is that we charge a small administrative fee on your pledges, 5%. Our credit card payment processor also charges a fee for transactions, about 3%. Long story short: <strong>You get about 92% of the pledged money.</strong></p>
	
	
	<h3 style="margin-top:30px;">How do I get paid from Patrons?</h3>
	<p>We collect all of the payments from your fans throughout the month, then send you your money within 7 days of the end of the month. If you're account balance is less than $50, you're balance will be carried over to the next month. Currently all payouts are made via PayPal. We are looking at adding additional payout options in the future.</p>

	<a name=rewards></a>
	<h3 style="margin-top:30px;">Can I offer fans merch, concert tickets, etc for pledging?</h3>
    <div class="grid onehalf">
		<p>Absolutely. You can offer any types of "rewards" you'd like. This could be digital content, merchandise, event tickets, exclusive newsletters, etc.</p>
		<p>When creating a Pledge Level, you have the option of including a description; simply include the rewards in your description (example shown on the right).</p>
		<p>One of the easiest ways to get started with rewards is to offer an exclusive email newsletter for your "Pledgers". We recommend a free service called <a href="http://tinyletter.com" target="_blank">TinyLetter</a>.</p> 
		<p>If you want to chat more about how to offer rewards, shoot us an email: <a href="mailto:hello@patrons.us">hello@patrons.us</a>.</p>
    </div>
    <div class="grid onehalf last"><img src="images/screens/pledge-level-rewards.png" alt="Pledge Level Rewards" class="feature-images" /></div>  
    <br class="clear" />

	
	<div style="height:30px; width:100%;"></div>
	
	<h1 class="page-header">More coming soon. Until then, email us => <a href="mailto:hello@patrons.us">hello@patrons.us</a></h1>
	
    
    <br class="clear" /><div style="height:50px; width:100%;"></div>


</div><!-- END MAIN CONTAINER -->