<%= content_for :head do %>
	<title>Patrons: Sign Up</title>
<% end %>

<!-- HEADER DIVIDER -->
<div id="head-break">

	<h1>Get Started</h1>
    
</div><!-- END HEADER DIVIDER -->


<!-- START MAIN CONTAINER -->
<div class="container">
	    
    <div class="grid onehalf">
		<h4>1. First, install the Patrons app onto your Facebook Fan Page.</h4> 
		<p>Click the button below. You'll then be directed to Facebook, where you can choose which Fan Page you'd like to install Patrons on.</p>
		
		<div id="cta">
			<a class="cta" href="http://www.facebook.com/add.php?api_key=113675545412483&pages" style="margin-top:10px;width:270px" target="_blank">Install The Facebook App</a>
		</div>
		
    </div>
    <div class="grid onehalf last"><img src="images/screens/install-1.png" alt="Install The Patrons Facebook App" class="feature-images" /></div>
    <br class="clear" />


    <div class="grid onehalf">
		<h4>2. Open the Patrons app & create your profile.</h4> 
		<p>Click the Patrons app on the left side of your Facebook Fan Page. You'll then be prompted to create your artist profile.</p>
		
    </div>
    <div class="grid onehalf last"><img src="images/screens/install-2.jpg" alt="Open the Patrons app and then create your profile" class="feature-images" /></div>
    <br class="clear" />


    <div class="grid onehalf">
		<h4>3. Create at least one 'Pledge Level'.</h4> 
		<p>Once you've created your profile, click the "New Pledge Level" button to make your first Pledge Level.</p>
		<p>Pledge Levels are monthly subscription plans for your supporters. You can create up to 3 different levels. They are usually set at different price points. Most popular are $5/month, $10/month, and $25/month.</p>
		
    </div>
    <div class="grid onehalf last"><img src="images/screens/install-3.jpg" alt="Create at least 1 Pledge Level" class="feature-images" /></div>
    <br class="clear" />


    <div class="grid onehalf">
		<h4>4. Publish your Patrons app.</h4> 
		<p>Once you're ready, click the "Publish your tab" link at the top of the app.</p>
		
    </div>
    <div class="grid onehalf last"><img src="images/screens/install-4.jpg" alt="Publish your app" class="feature-images" /></div>
    <br class="clear" />


    <div class="grid onehalf">
		<h4>5. Tell the world.</h4> 
		<p>Post a Facebook status, tweet, etc. about your new Patrons app. Get the word out. Fans can't pledge if they don't know about it.</p>
    </div>
    <div class="grid onehalf last"><img src="images/screens/install-5.jpg" alt="Publish your app" class="feature-images" /></div>
    <br class="clear" />

	<h1 class="page-header" align="center">Get stuck along the way? We can help: <a href="mailto:hello@patrons.us">hello@patrons.us</a></h1>

	<div style="height:50px; width:100%;"></div>


</div><!-- END MAIN CONTAINER -->