<%= content_for :head do %>
	<title>Patrons: A super easy way for your biggest fans to support you.</title>
<% end %>

<!-- HEADER DIVIDER -->
<div id="head-break">

	<h1>A super easy way for your biggest fans to support you.</h1>
    
</div><!-- END HEADER DIVIDER -->


<!-- START MAIN CONTAINER -->
<div class="container">


	<!-- START IMAC CONTAINER -->
    <div id="left">
    
    	<!-- SLIDE SHOW -->
		<ul id="slides">
			<li><img src="images/screens/screenshot-1-v2.jpg" alt="Patrons Facebook App" border="0" /></li>
			<li><img src="images/screens/screenshot-2-v2.jpg" alt="The 'Pledge Levels'" border="0" /></li>
			<li><img src="images/screens/screenshot-3-v2.jpg" alt="Viewing Your Fan's Pledges" border="0" /></li>
		</ul>
        
    </div><!-- END IMAC CONTAINER -->
    
    
    <!-- START RIGHT CONTAINER -->
    <div id="right">
	
		<div id="overview">
  		<h2>Your fans want to support you.</h2>  
        <!-- <h2>Powered By Super Fans</h2> -->
		<p>Musicians, writers, and creators of all kinds are giving away more and more of their stuff for free. They're building bigger fan bases, but <strong>making a living</strong> is harder than ever.</p>
		<!-- <p><strong><u>The thing is, fans are eager to directly support the things they truly love.</u></strong></p> -->
		<h5>But...big fans are eager to support the things they love.</h5>
			
		<p>Patrons makes it simple for fans to make a monthly pledge to you (like a monthly donation). Even if only a small % make a pledge, you can quickly be making $$$ per month.</p>
		<p>And it all happens on your Facebook Fan Page.</p>
        <h5 align="center" style="margin-top:20px;"><i>Get started in less than 5 minutes. No up-front fees.</i></h5>
		<div id="cta" style="margin-bottom:10px;">
			<a class="cta" href="/get-started" style="margin-top:0px;">Get Started</a> <a class="cta-secondary" href="/learn-more" style="margin-top:0px;">Learn More</a><br>			
			<div class="clear"></div>
			<div class="cta-small">(free)</div>
			<div class="clear"></div>
		</div>

		<p><strong>Who is Patrons for?</strong><br>
		Anybody who has a supportive fan base: musicians, writers, comedians, filmmakers, podcasters, game developers, comic artists, bloggers, fine artists, open source developers, etc.<br>In other words...you :)</p>
				
		</div>
                
    </div><!-- END RIGHT CONTAINER -->
    
    <br class="clear" />
    
</div><!-- END MAIN CONTAINER -->


<!-- START LIGHTBOX TILES -->
<div id="image-tiles">

	<div class="container">
        <a href="images/screens/front-page.jpg" title="The Patrons Facebook app in all it's glory." rel="lightbox-shots"><img src="images/screens/front-page-thumb.png" alt="screenshot one" /></a>
        <a href="images/screens/pledge-listings.jpg" title="Artists are able to easily see all of their fans' pledges and an estimate of their monthly income." rel="lightbox-shots"><img src="images/screens/pledge-listings-thumb.png" alt="screenshot two" /></a>
        <a href="images/screens/edit-profile.jpg" title="Editing your artist profile in the Patrons app." rel="lightbox-shots"><img src="images/screens/edit-profile-thumb.png" alt="screenshot three" /></a>
        <a href="images/screens/new-pledge-level.jpg" title="Creating new Pledge Levels for your fans." rel="lightbox-shots"><img class="last" src="images/screens/new-pledge-level-thumb.png" alt="screenshot four" /></a>
    </div>
    
</div><!-- END LIGHTBOX TILES -->


<!-- START SUB TILES ONE -->
<div id="sub-tiles">

	<div class="container">

		<!-- LEFT TILE -->
        <div id="sub-left">
        
        	<div class="sub-inner">
            
           		<h3>New Steady Income</h3>
                <p>We make it simple for your fans to give you money every month. Just a handful of supporters can lead to serious $$$ per month.<br>There's no upfront fees and we take just a small % to cover transaction and administrative fees.</p>
            
            </div>
            
        </div><!-- END LEFT TILE -->
        
        
        <!-- RIGHT TILE -->
        <div id="sub-right">
        
            <div class="sub-inner-right">
            
            	<h3>Big Fans Love It</h3>
                <p>In a time when content is just as easily pirated, true fans take pride in knowing they are helping to support the stuff they love.<br>They have a personal connection to the art and artists and still believe in the craft and the crafters.</p>
                
            </div>
            
        </div><!-- END RIGHT TILE -->
        
        <br class="clear" />
        
    </div>
    
</div><!-- END SUB TILES -->


<!-- START FEATURE TILES -->
<div id="feature-tiles">

	<div class="container">
    
    
    	<!-- LEFT TILE -->
        <div class="feature left">
        
        	<h4 class="star">Facebook Page Integration</h4>
            <p>Patrons integrates right into your Facebook Fan Page. No need to worry about another website to keep updated. And your fans are already there!</p>
            
        </div><!-- END LEFT TILE -->
        
        
        <!-- MIDDLE TILE -->
        <div class="feature border">
        
        	<h4 class="credit_card">Hassle Free</h4>
            <p>Accepting credit card payments (and <i>especially</i> recurring payments) can be a huge headache. Don't worry. We handle all that stuff and send you your money once a month.</p>
            
        </div><!-- END MIDDLE TILE -->
    
    
    	<!-- RIGHT TILE -->
        <div class="feature last">
        
        	<h4 class="heart">Know Your Supporters</h4>
            <p>Do you know who your biggest fans are? Patrons helps you get to know them better. We let you know each time you get a new supporter and make it easy to contact them.</p>
            
        </div><!-- END RIGHT TILE -->
        
        <br class="clear" />
    
    </div>

</div><!-- END FEATURE TILES -->
