<%= content_for :head do %>
	<title>Patrons: Learn More</title>
<% end %>

<!-- HEADER DIVIDER -->
<div id="head-break">

	<h1>Learn More</h1>
    
</div><!-- END HEADER DIVIDER -->


<!-- START MAIN CONTAINER -->
<div class="container">

	<h1 class="page-header">One last thing about big fans...</h1>
    
    <div class="grid onehalf">
    	<p>Building a tight group of your most dedicated fans is more important than ever. Having 100,000 Facebook Fans or Twitter Followers is great, but it doesn't necessarily translate into you making a living from your craft.</p>
		<p>On the flip side, having a group of just <strong>1,000 "true fans"</strong> who are willing support you with $10/month works out to <strong>$120,000/year</strong>. True fans are very powerful.</p>
		<p>Check out this blog post called <a href="http://www.kk.org/thetechnium/archives/2008/03/1000_true_fans.php" target="_blank">1,000 True Fans</a> to dive deeper.</p>
    </div>
    <div class="grid onehalf last"><img src="images/screens/fan.jpg" alt="Your Biggest Fan" class="feature-images" /></div>
    <br class="clear" />


	<h1 class="page-header">How Patrons Works</h1>
    

	<div class="grid onehalf"><a href="images/screens/front-page.jpg" title="The Patrons Facebook app integration." rel="lightbox-shots"><img src="images/screens/feature-1-fb-integration.jpg" alt="The Patrons Facebook app integration" class="feature-images" /></a></div>
    <div class="grid onehalf last">
		<h3>Facebook Page Integration</h3>
    	<p><strong>Patrons integrates right into your Facebook Fan Page.</strong></p> 
		<p>This is perfect because your fans are already on Facebook and interacting on your Fan Page. You don't have to set up a new website or anything like that. You manage your account and view your supporters' info right from the Patrons app on your page. Likewise, your supporters manage their accounts and info from the app as well.</p>
    </div>
    <br class="clear" />

    
    <div class="grid onehalf">
		<h3>Pledges</h3>
    	<p><strong>'Pledges' are how your fans support you. Fans pledge a certain amount of money to you each month.</strong></p>
		<p>To structure this, you create "Pledge Levels" at different prices for your fans to choose. The most popular prices are $5/month, $10/month, and $25/month. You give each pledge level a name, like: "Gold Level", "Supporter", "All Star", etc. You can have up to 3 different Pledge Levels.</p>
		<p>
			<strong>Can I offer fans merch, concert tickets, etc for pledging?</strong><br>
			Absolutely. You can offer any types of "rewards" you'd like. You can find more info about <a href="/faq#rewards">offering rewards in our FAQ</a>.
			
		</p>
    </div>
    <div class="grid onehalf last"><img src="images/screens/feature-2-pledge-levels.jpg" alt="Pledge Levels" class="feature-images" /></div>  
    <br class="clear" />


    <div class="grid onehalf"><img src="images/screens/feature-3-pledge-listings.jpg" alt="Viewing Fan Pledges" class="feature-images" /></div>
    <div class="grid onehalf last">
		<h3>Viewing Fan Pledges</h3>
    	<p>In the admin section of your Patrons tab, we list out all the details of your fans' pledges. You'll notice that we also provide a handy estimate of your total monthly pledges.</p>
    </div>
    <br class="clear" />

    
    <div class="grid onehalf">
		<h3>Gettin' Paid & Costs</h3>
    	<p><strong>There are no upfront fees to use Patrons (after all, we heart artists!).</strong></p>
		<p>The way Patrons works is that we charge a small administrative fee on your pledges, 5%. Our credit card payment processor also charges a fee for transactions, about 3%. Long story short:</p> 
		<p><strong>You get about 92% of the pledged money.</strong></p>
		<p>We collect all of the payments from your fans throughout the month, then send you your money within 7 days of the end of the month. If you're account balance is less than $50, you're balance will be carried over to the next month.</p>
		<p>Currently all payouts are made via PayPal. We are looking at adding additional payout options in the future.</p>
		<!-- <p>You can choose to be paid with PayPal or (coming soon) be mailed a check. You'll receive your money quicker with PayPal but they'll charge you a 2.9% transaction fee.</p> -->
    </div>
	<div class="grid onehalf last"><img src="images/screens/zebra.jpg" alt="" class="feature-images" /></div>
    <br class="clear" />

	<h1 class="page-header">
		<div id="cta" align="center">
			<a class="cta" href="/get-started" style="margin-top:0px;">Get Started</a> <a class="cta-secondary" href="http://on.fb.me/patrons-demo" target="_blank" style="margin-top:0px;">View Demo</a><br>			
			<div class="clear"></div>
		</div>	
	</h1>
	
    <br class="clear" />


</div><!-- END MAIN CONTAINER -->